body {
    margin: 0;
}

img{
    width: 100%;
    height: auto; 
    display: block;
    overflow: hidden; /* Para evitar que a imagem ultrapasse a margem */
  }

  .left-right {
    display: flex;
    justify-content: space-between;
  }

h1 {
    padding-top: 100px;
    padding-left: 100px;
}

form {
    margin: 100px;
}

.nome {
    display: flex;
    gap: 50px;
}

.primeiro-nome {
    width: 100%;
}

.segundo-nome {
    width: 100%;
}

.email {
    width: 100%; 
}

.data-nascimento{
    width: 100%;
}

.radio-grupo {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

.checkbox-complementos {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.cor-verde {
    background-color: rgb(0, 156, 124);
    width: 100%;
    height: 50px;
}

.barra-lateral{
    margin-right: 100px;
}

.ligacoes {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content:space-between;
    background-color: rgb(0, 156, 124);
    border-color: white;
    border-style: solid;
    width: 600px;
}

.content-center {
    align-content: center;
}

.linha1 {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: white;
}

.bupi {
    text-align: center;
    border-style: solid;
    border-color: white;
    width: 100%;
    height: 100px;

}

.linha2 {
    display: flex;
    text-align: center;
    border-style: solid;
    border-color: white;
}

.cdesportivos {
    text-align: center;
    border-style: solid;
    border-color: white;
    width: 100%;
    height: 100px;
}

.pirural {
    text-align: center;
    border-style: solid;
    border-color: white;
    width: 100%;
    height: 100px;
}

.linha3 {
    display: flex;
    border-style: solid;
    border-color: white;
    justify-content: space-around;
}

.contactos {
    text-align: center;
    border-style: solid;
    border-color: white;
    width: 100%;
    height: 100px;
}

.biblioteca {
    text-align: center;
    border-style: solid;
    border-color: white;
    width: 100%;
    height: 100px;
}

.oparticipativo {
    text-align: center;
    border-style: solid;
    border-color: white;
    width: 100%;
    height: 100px;
}

.linha4 {
    display: flex;
    border-style: solid;
    border-color: white;
    justify-content: space-around;
    
}

.vvinvestimento {
    text-align: center;
    border-style: solid;
    border-color: white;
    width: 100%;
    height: 100px;
}

.urbanismo {
    text-align: center;
    border-style: solid;
    border-color: white;
    width: 100%;
    height: 100px;
}

.amunicipal {
    text-align: center;
    border-style: solid;
    border-color: white;
    width: 100%;
    height: 100px;
}

.menu-newsletter {
    background-color:rgb(69, 54, 55);
    display: flex;
    justify-content: space-around;
  }
  
  nav ul li {
    list-style: none;
  }
  
  nav ul li a{
    color: white;
    text-align: left;
    align-content: center;
  }

.corverde{
    background-color: greenyellow;
    width: 100%;
  }
  
  i {
   color: white;
  }
  
  .pp {
    color: white;
  }

.content-center {
    align-content: center;
}

li {
    padding-bottom: 20px;
    font-size: 1.5em;
    text-decoration: none;
}

